POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433
PROJECT_ROOT=.

LOGGER_LEVEL=debug
LOGGER_FOLDER=logs
ADDR=localhost:8090
SHUTDOWN_TIMEOUT=5s

POSTGRES_HOST=localhost
POSTGRES_TIMEOUT=10s